@{
    ViewData["Title"] = "Eq2Grau";
}

<div class="text-center">
    <h1 class="display-4">Cálculo das raízes de uma Equação do 2º Grau</h1>
</div>

<form>
    Introduza, por favor, os coeficientes da Equação do 2º Grau <br />
    a=<input type="text" /><br />
    b=<input type="text" /><br />
    c=<input type="text" /><br />

    <input type="submit" value="Calcular" />
</form>